In [3]:
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd

In [4]:
training_dataset = pd.read_csv(r'C:\Users\HP\Desktop\Linear_dataset\train.csv')
testing_dataset = pd.read_csv(r'C:\Users\HP\Desktop\Linear_dataset\test.csv')

In [5]:
training_dataset.head(5)

,Order,PID,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,Lot.Shape,Land.Contour,...,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition,SalesPrice
0,2031,903450060,50,RM,NaN,7758,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,169500
1,944,911104060,30,C (all),60.0,10200,Pave,Grvl,Reg,Lvl,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,75000
2,2475,531375100,20,RL,63.0,13072,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,5,2006,New,Partial,158000
3,2271,916460020,20,RL,NaN,7777,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,178000
4,156,535350030,20,RL,85.0,10200,Pave,NaN,Reg,Lvl,...,0,NaN,GdWo,NaN,0,5,2010,WD,Normal,144900

In [6]:
training_dataset.columns

Index(['Order', 'PID', 'MS.SubClass', 'MS.Zoning', 'Lot.Frontage', 'Lot.Area',
       'Street', 'Alley', 'Lot.Shape', 'Land.Contour', 'Utilities',
       'Lot.Config', 'Land.Slope', 'Neighborhood', 'Condition.1',
       'Condition.2', 'Bldg.Type', 'House.Style', 'Overall.Qual',
       'Overall.Cond', 'Year.Built', 'Year.Remod.Add', 'Roof.Style',
       'Roof.Matl', 'Exterior.1st', 'Exterior.2nd', 'Mas.Vnr.Type',
       'Mas.Vnr.Area', 'Exter.Qual', 'Exter.Cond', 'Foundation', 'Bsmt.Qual',
       'Bsmt.Cond', 'Bsmt.Exposure', 'BsmtFin.Type.1', 'BsmtFin.SF.1',
       'BsmtFin.Type.2', 'BsmtFin.SF.2', 'Bsmt.Unf.SF', 'Total.Bsmt.SF',
       'Heating', 'Heating.QC', 'Central.Air', 'Electrical', 'X1st.Flr.SF',
       'X2nd.Flr.SF', 'Low.Qual.Fin.SF', 'Gr.Liv.Area', 'Bsmt.Full.Bath',
       'Bsmt.Half.Bath', 'Full.Bath', 'Half.Bath', 'Bedroom.AbvGr',
       'Kitchen.AbvGr', 'Kitchen.Qual', 'TotRms.AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace.Qu', 'Garage.Type', 'Garage.Yr.Blt',
       'Garage.Finish', 'Garage.Cars', 'Garage.Area', 'Garage.Qual',
       'Garage.Cond', 'Paved.Drive', 'Wood.Deck.SF', 'Open.Porch.SF',
       'Enclosed.Porch', 'X3Ssn.Porch', 'Screen.Porch', 'Pool.Area', 'Pool.QC',
       'Fence', 'Misc.Feature', 'Misc.Val', 'Mo.Sold', 'Yr.Sold', 'Sale.Type',
       'Sale.Condition', 'SalesPrice'],
      dtype='object')

In [7]:
features = [
        'Yr.Sold', 
        'Lot.Area',
        'Lot.Frontage',
        'Gr.Liv.Area',
        'Full.Bath',
        'Half.Bath',
        'Neighborhood',
        'SalesPrice'
    ]
filter_data = training_dataset[features]

In [8]:
filter_data

,Yr.Sold,Lot.Area,Lot.Frontage,Gr.Liv.Area,Full.Bath,Half.Bath,Neighborhood,SalesPrice
0,2007,7758,NaN,1818,1,1,IDOTRR,169500
1,2009,10200,60.0,572,1,0,IDOTRR,75000
2,2006,13072,63.0,1158,1,1,SawyerW,158000
3,2007,7777,NaN,1491,2,0,Timber,178000
4,2010,10200,85.0,1086,1,0,NAmes,144900
...,...,...,...,...,...,...,...,...
2192,2010,10552,70.0,1700,1,1,NAmes,165500
2193,2008,6300,35.0,1484,2,0,OldTown,128000
2194,2009,5520,92.0,2229,1,0,OldTown,104000
2195,2006,13300,70.0,1384,1,0,NAmes,159000
2196,2008,1680,21.0,987,1,1,BrDale,85400

In [9]:
X = training_dataset.iloc[:,:-1].values
Y = training_dataset['SalesPrice'].values

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [12]:

enc = OneHotEncoder(handle_unknown='ignore')

enc.fit(X_train.Neighborhood.to_numpy().reshape(-1,1))

AttributeError: 'numpy.ndarray' object has no attribute 'Neighborhood'

In [13]:
imputer_lot = SimpleImputer(strategy='median')
X_train['Lot.Frontage'] = imputer_lot.fit_transform(X_train['Lot.Frontage'].to_numpy().reshape(-1,1))

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices